body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
#search {
    display: flex;

    position: relative;
    width: 395px;

    padding: 5px;
    border-style: solid;
    border-width: thin;
    border-color: gray;
    border-radius: 5px;
}
#search > input {
    width: 100%;
    border: none;
}
.category {
    text-align: center;
    width: 100%;
    height: auto;
    

}
img{
    width: 70%;
    height: auto;
    border: 5px solid black;
}
.vegetables {
     text-align: center;
     width: 100%;
     height: auto;     
}
.drinks {
    text-align: center;
}

#item-list {
    position: relaitve;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}


item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    gap: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: silver;
    border-width: thin;
    padding: 5px;
}
item-card > img {
    width: 250px;
    height: 300px;
}
